<%- layout("layouts/boilerplate.ejs") %>
<form action="/listings/<%= listings._id %>/review/<%= reviews._id %>?_method=patch" method="post">
    <input type="number" name="review[rating]" value="<%=reviews.rating %>" min="1" max="5" placeholder="enter rating">
    <input type="text" name="review[comment]" value="<%= reviews.comment %>">
    <button>edit</button>
</form>